.section {
  background-color: var(--accent-foreground);
  color: var(--color-text);
  padding: 3rem 1rem;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--color-text);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  background-color: var(--secondary);
  border: 1px solid var(--color-text);
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.icon {
  font-size: 2rem;
  color: var(--color-text);
  margin-bottom: 1rem;
}

.cardTitle {
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  color: var(--color-text);
}

.cardDescription {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--color-text);
}

/* Responsive layout for larger screens */
@media (min-width: 768px) {
  .cards {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .card {
    flex: 1;
    padding: 1rem 1.5rem;
  }

  .icon {
    margin-bottom: 0.75rem;
  }
}
