:root {
  /* Primary (Elm) */
  --primary-300: hsl(189, 27%, 24%);  /* #2d494e */
  --primary-400: hsl(184, 61%, 14%);  /* #0e3639 */
  --primary-500: hsl(187, 100%, 8.43%); /* #00262b */
  --primary-700: hsl(180, 100%, 6%);  /* #002121 */
  --primary: var(--primary-500);
  --primary-light: var(--primary-300);
  --primary-foreground: #ffffff;
  --primary-hover: #ffffff;
  --primary-hover-foreground: var(--primary);

  /* Secondary (Fern) */
  --secondary-100: hsl(165, 10%, 84%);  /* #d2dad8 */
  --secondary-200: hsl(165, 10%, 68%);  /* #a5b5b1 */
  --secondary-300: hsl(169, 9%, 52%);   /* #798f8b */
  --secondary-400: hsl(168, 16%, 36%);  /* #4c6a64 */
  --secondary-500: hsl(167, 38%, 19.61%); /* #1f453d */
  --secondary-700: hsl(169, 37%, 12%);  /* #132925 */
  --secondary: var(--secondary-500);
  --secondary-light: var(--secondary-300);
  --secondary-dark: var(--secondary-700);
  --secondary-foreground: #ffffff;
  --secondary-hover: #ffffff;
  --secondary-hover-foreground: var(--primary);

  /* Brand (Orange) */
  --brand-300: hsl(17, 78%, 58%);   /* #e76f3f */
  --brand-500: hsl(18, 100%, 42%);  /* #d74000 */
  --brand-700: hsl(17, 91%, 34%);   /* #a33508 */
  --brand: var(--brand-500);
  --brand-light: var(--brand-300);
  --brand-dark: var(--brand-700);
  --brand-foreground: #ffffff;
  --brand-hover: #ffffff;
  --brand-hover-foreground: var(--primary);

  /* Accent */
  --accent-mint: hsl(164, 71%, 63%);  /* #5de3c0 */
  --accent-pink: hsl(341, 63%, 79%);  /* #eba7bc */
  --accent-blue: hsl(189, 97%, 46%);  /* #03c7e8 */
  --accent-yellow: hsl(51, 100%, 47%);/* #f0cc00 */
  --accent: var(--putty-100);
  --accent-foreground: var(--primary);

  /* Putty */
  --putty-50: hsl(20, 10%, 94%);   /* #f2f0ef */
  --putty-100: hsl(40, 20%, 97%);  /* #f9f8f6 */
  --putty-200: hsl(40, 20%, 94%);  /* #f3f1ed */
  --putty-300: hsl(47, 20%, 91%);  /* #edebe4 */
  --putty-400: hsl(45, 20%, 88%);  /* #e7e4db */
  --putty-500: hsl(45, 21%, 85%);  /* #e1ddd1 */
  --putty-700: hsl(47, 4%, 51%);   /* #87857e */
  --putty: var(--putty-500);
  --putty-light: var(--putty-300);
  --putty-dark: var(--putty-700);
  --putty-foreground: #000000;
  --putty-dark-foreground: #ffffff;

  --light: var(--putty-100);
  --light-foreground: var(--primary);

  /* Gray */
  --gray-500: hsl(0, 0%, 44%);     /* #707070 */
  --gray-700: hsl(0, 0%, 27%);     /* #454545 */
  --gray-800: hsl(0, 0%, 20%);     /* #333333 */
  --gray-900: hsl(210, 11%, 15%);  /* #212529 */
  --gray: var(--gray-500);
  --gray-dark: var(--gray-700);
  --gray-foreground: #ffffff;

  /* Danger / Destructive */
  --danger-100: hsl(6, 63%, 97%);  /* #fcf3f2 */
  --danger-300: hsl(4, 66%, 75%);  /* #e99994 */
  --danger-500: hsl(4, 68%, 49%);  /* #d23228 */
  --danger-700: hsl(4, 90%, 30%);  /* #921108 */
  --danger: var(--danger-500);
  --danger-light: var(--danger-300);
  --danger-dark: var(--danger-700);
  --danger-foreground: #ffffff;
  --danger-light-foreground: #000000;

  --destructive: var(--danger-dark);
  --destructive-foreground: var(--danger-foreground);

  /* Warning */
  --warning-100: hsl(52, 100%, 93%); /* #fffadb */
  --warning-300: hsl(51, 100%, 47%); /* #f0cc00 */
  --warning-500: hsl(51, 100%, 42%); /* #d6b600 */
  --warning: var(--warning-300);
  --warning-light: var(--warning-100);
  --warning-dark: var(--warning-500);
  --warning-foreground: #000000;

  /* Success */
  --success-100: hsl(158, 44%, 96%); /* #f2faf7 */
  --success-300: hsl(155, 54%, 41%); /* #30a171 */
  --success-500: hsl(154, 81%, 27%); /* #0d7d4d */
  --success: var(--success-300);
  --success-light: var(--success-100);
  --success-dark: var(--success-500);
  --success-foreground: #ffffff;
  --success-light-foreground: #000000;

  /* Info */
  --info-100: hsl(191, 52%, 96%);  /* #eff8fa */
  --info-300: hsl(198, 74%, 43%);  /* #1c8dbe */
  --info-500: hsl(196, 100%, 28%); /* #00688d */
  --info: var(--info-300);
  --info-light: var(--info-100);
  --info-dark: var(--info-500);
  --info-foreground: #ffffff;
  --info-light-foreground: #000000;

  --background: #ffffff;
  --foreground: var(--primary);

  --white: #ffffff;
  --black: #000000;

  --popover: var(--white);
  --popover-foreground: var(--primary);

  --card: var(--white);
  --card-foreground: var(--primary);
  --card-gray: var(--putty-100);
  --card-gray-hover: var(--putty-400);

  --spotlight: var(--info-100);
  --spotlight-foreground: var(--link-hover);

  --border: var(--putty-light);
  --input: var(--putty-light);
  --ring: var(--primary);

  --radius: 6rem;

  --learn-hero-heading: 2.25rem;
  --learn-hero-line-height: 2.25rem;

  --learn-hero-line-height-large: 4rem;
  --learn-hero-heading-large: 4rem;

  --learn-course-hero-heading: 2.5rem;
  --learn-course-hero-line-height: 2.5rem;

  --link: var(--info-dark);
  --link-hover: hsl(202, 100%, 22.35%); /* #004972 */

  --masters: var(--primary-400);
  --masters-foreground: var(--white);

  --block: var(--putty-100);
  --block-foreground: var(--primary);

  --shadow: var(--putty-100);
  --shadow-foreground: var(--primary);
}
