.container {
    background-color:#0056d2;
    color: #ffffff;
}

@media (max-width: 1439.95px) {
    .blockLayout {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

@media (min-width: 1024px) {
    .blockLayout {
        padding: 0 48px;
    }
}

.blockLayout {
    padding-top: 32px;
    padding-bottom: 32px;
        position: relative;
            padding-left: 0;
    padding-right: 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 0px) {
    .blockLayout {
        padding: 0 16px;
    }
}

.imageWrapper {
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    display: flex
;
    flex-wrap: wrap;
    box-sizing: border-box;

}

@media (min-width: 0px) {
    .imageWrapper {
        margin: -4px;
        width: calc(100% + 8px);
    }
}

@media (min-width: 1024px) {
    .imageWrapper {
        margin: -16px;
        width: calc(100% + 32px);
    }
}

@media (min-width: 600px) {
    .imageWrapper {
        margin: -8px;
        width: calc(100% + 16px);
    }
}

.gridItem {
    position: relative;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

@media (min-width: 0px) {
    .gridItem {
        padding: 4px;
    }
}

@media (min-width: 1024px) {
    .gridItem {
        padding: 16px;
    }
}

@media (min-width: 600px) {
    .gridItem {
        padding: 8px;
    }
}

.imageContainer {
    display: flex
;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--cds-spacing-400);
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 599.95px) {
    .imageContainer {
        gap: 24px;
    }
}

.textSection {
display: flex
;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;

}

@media (min-width: 1024px) {
    .textSection {
        flex-grow: 0;
        max-width: 66.666667%;
        flex-basis: 66.666667%;
    }
}

@media (min-width: 600px) {
    .textSection {
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
}

.titleWrapper {
        display: flex
;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.buttonWrapper {
    margin-top: 0px;
    margin-bottom: 12px;
        font-size: 14px;
}

.trialButton {
    border-radius: 4px;
    border-radius: 4px;
    text-transform: none;
    max-width: 320px;
    min-width: unset;
    -webkit-transition: none;
    transition: none;
    box-sizing: border-box;
    color: #0056d2;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #0056d2;
    letter-spacing: 0.01em;
    padding: 12px 24px;
}

@media (max-width: 599px) {
    .trialButton {
        width: 100%;
        max-width: unset;
    }
}

.buttonLabel {
    position: absolute !important;
    border: 0 !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    word-wrap: normal !important;
}